<h1>Search for movies</h1>

<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Enter search term">
    <input type="submit" value="Submit">
	<h4>
		Created by Dimitris Theodoropoulos
	</h4>
</form>